@font-face {
	font-family: "EB Garamond";
	font-style: normal;
	font-weight: 600;
	src:
		url("../assets/fonts/eb-garamond-v12-latin-600.woff2") format("woff2"),
		url("../assets/fonts/eb-garamond-v12-latin-600.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond";
	font-style: italic;
	font-weight: 400;
	src:
		url("../assets/fonts/eb-garamond-v12-latin-italic.woff2") format("woff2"),
		url("../assets/fonts/eb-garamond-v12-latin-italic.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond";
	font-style: normal;
	font-weight: 400;
	src:
		url("../assets/fonts/eb-garamond-v12-latin-regular.woff2") format("woff2"),
		url("../assets/fonts/eb-garamond-v12-latin-regular.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond Small Caps";
	font-style: normal;
	font-weight: 400;
	src:
		url("../assets/fonts/ebgaramondsc12-regular-webfont.woff2") format("woff2"),
		url("../assets/fonts/ebgaramondsc12-regular-webfont.woff") format("woff");
}

@font-face {
	font-family: "Courier Prime";
	font-style: normal;
	font-weight: 400;
	src:
		url("../assets/fonts/courier-prime-v1-latin-regular.woff2") format("woff2"),
		url("../assets/fonts/courier-prime-v1-latin-regular.woff") format("woff");
}

:root {
    --main-background:#fef8f2;
    --central-background:#ffffff;
    --blue-link:#000f8d;
    --emph-text:#10000d;
}

body,html {
    background-color:var(--main-background);
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
    font-weight: 300;
    display: grid;
}

h1, h2 {
    color: var(--emph-text);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
}
h3, h4, h5, h6 {
    color: var(--emph-text);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
} 

/* header and footer areas */
footer {
    text-align: right;
    font-style: italic;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    padding: 0;
}

.menu li {
    display: inline-block;
}

.article-meta,
.menu a {
    text-decoration: none;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
}

.article-meta,
.menu a:visited {
    color: var(--blue-link);;
}

.article-meta,
.menu a:link {
    color: var(--blue-link);
}

.menu a:hover {
    font-weight: 450;
}

.article-meta,
.menu {
    text-align: center;
}

.title {
    font-size: 1.1em;
}

hr {
    border-style: dashed;
    color: #ddd;
}

/* code */
pre {
    width: min(150ch,80%);
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 1em;
    white-space: pre-wrap;
}

code {
    background: #f9f9f9;
}

pre code {
    background: none;
}

main header {
    width: 80%;
    margin: auto;
}

main header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    max-width: 1772px;
    max-height: 40%;
}

main > article img {
    display: block;
    margin: 0 auto;
}

main a:link {
    color: var(--blue-link);
}

main a:hover {
    text-decoration: underline dotted;
}

main a:visited {
    color: var(--blue-link);
}

figcaption {
    font-style: italic;
    font-size: smaller;
    margin-left:10%;
    margin-right:10%;
    text-align: justify;    
}

.menu-colles {
    font-size: 15px;
    text-align: left;
    margin-left: 1px;
    list-style-type: "\1F4C1    ";
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
}

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table thead th {
    border-bottom: 1px solid #ddd;
}

th,
td {
    padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
    background: #eee;
}


.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */